@media screen and (min-width: 768px) {
    #menu-toggle {
        display: none;
    }
    
    nav ul {
        display: flex;
        justify-content: center;
        background: #2c3e50;
    }
    
    nav li a {
        padding: 1rem 2rem;
    }
    
    #course-list {
        grid-template-columns: repeat(3, 1fr);
    }
    
    #about {
        display: flex;
        align-items: center;
        gap: 2rem;
    }
    
    #about img {
        flex: 1;
        max-width: 300px;
    }
    
    #about div {
        flex: 2;
    }
}